<a href="https://colab.research.google.com/github/jjeswinjacob/NLP_Lab_Solutions/blob/master/5%20-%20Named%20Entity%20Recognition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
import spacy
m = spacy.load('en_core_web_sm')

In [ ]:
example1 = "Vikings transports us to the brutal and mysterious world of Ragnar Lothbrok, a Viking warrior and farmer who yearns to explore - and raid - the distant shores across the ocean."

In [ ]:
doc = m(example1)

In [ ]:
for ent in doc.ents:
  print(ent.text, ent.label_)

Ragnar Lothbrok ORG
Viking PERSON

In [ ]:
example2 = "Peter Franzén is one of Finland's most accomplished actors who has enjoyed a successful career both nationally and internationally. To Franzén's credits include for example the spy thriller The Gunman opposite Sean Penn and Javier Bardem, the controversial film, Heart of a Lion, Open Up To Me which was nominated for a Nordic Council Film prize"

In [ ]:
doc = m(example2)
for ent in doc.ents:
  print(ent.text, ent.label_)

Peter Franzén PERSON
one CARDINAL
Finland GPE
Franzén GPE
Gunman ORG
Sean Penn PERSON
Javier Bardem PERSON
Nordic Council Film ORG

In [ ]:
example3 = "Net income was $9.4 million compared to the prior year of $2.7 million." + "Revenue exceeded twelve billion dollars, with a loss of $1b."
doc = m(example3)
for ent in doc.ents:
  print(ent.text, ent.label_)

$9.4 million MONEY
the prior year DATE
$2.7 million MONEY
twelve billion dollars MONEY
1b MONEY

In [ ]:
# Work of Art
example4 = "The Harry Potter Series is the best. I was glued the whole day to the books."
doc = m(example4)
for ent in doc.ents:
  print(ent.text, ent.label_)

The Harry Potter Series WORK_OF_ART

In [ ]:
# FAC
example5 = "The White House and buckingham palace are the abode of royals."
doc = m(example5)
for ent in doc.ents:
  print(ent.text, ent.label_)

The White House ORG
buckingham palace FAC

In [ ]:
example6 = "Hassium is a highly radioactive chemical element with symbol Hs and atomic number 108. The most stable known isotopes have half-lives of around 10 seconds. Natural occurrences of this superheavy element have been hypothesised, but none has ever been found. The first attempts to artificially prepare element 108 by nuclear fusion began in 1978 at the Joint Institute for Nuclear Research in the Soviet Union; though likely successful by 1984, these experiments did not prove conclusively that the element had been synthesised. For this reason, the discovery is principally credited to a team led by Peter Armbruster and Gottfried Münzenberg at the Gesellschaft für Schwerionenforschung who bombarded lead-208 with iron-58 and produced hassium-265. The name hassium was selected as a reference to the German state of Hesse, where the research was conducted. The observed chemical properties of hassium are consistent with its expected placement as the group 8 element in period 7 of the periodic table. "
doc = m(example6)
for ent in doc.ents:
  print(ent.text, ent.label_)

Hs PERSON
108 CARDINAL
half CARDINAL
around 10 seconds TIME
first ORDINAL
108 CARDINAL
1978 DATE
the Joint Institute for Nuclear Research ORG
the Soviet Union GPE
1984 DATE
Peter Armbruster PERSON
Gottfried Münzenberg PERSON
the Gesellschaft für Schwerionenforschung FAC
German NORP
Hesse GPE
8 CARDINAL
7 CARDINAL

In [29]:
example7 = "The U.S. state of Washington has thirty-nine counties. The Provisional Government of Oregon established Vancouver and Lewis Counties in 1845 in unorganized Oregon Country, extending from the Columbia River north to 54°40′ north latitude. After the region was organized within the Oregon Territory with the current northern border of 49° north, Vancouver County was renamed Clarke, and six more counties were created out of Lewis County before the organization of Washington Territory in 1853; twenty-eight were formed during Washington's territorial period, two of which only existed briefly. The final five were established in the 22 years after Washington was admitted to the Union as the 42nd state in 1889. King County, home to the state's largest city, Seattle, holds 30 percent of Washington's population (2,252,782 residents of 7,614,893 in 2019), and has the highest population density, with more than 1,000 people per square mile (400/km2). Garfield County is both the least populated (2,225) and least densely populated (3.1/sq mi [1.2/km2]). "
doc = m(example7)
for ent in doc.ents:
  print(ent.text, ent.label_)

U.S. GPE
Washington GPE
thirty-nine CARDINAL
The Provisional Government of ORG
Oregon GPE
Vancouver GPE
Lewis Counties GPE
1845 DATE
Oregon GPE
Columbia River LOC
54 CARDINAL
Oregon GPE
49 CARDINAL
Vancouver County GPE
Clarke NORP
six CARDINAL
Lewis County GPE
Washington Territory ORG
1853 DATE
twenty-eight CARDINAL
Washington GPE
two CARDINAL
five CARDINAL
the 22 years DATE
Washington GPE
Union ORG
1889 DATE
King County GPE
Seattle GPE
30 percent PERCENT
Washington GPE
2,252,782 CARDINAL
7,614,893 CARDINAL
2019 DATE
more than 1,000 CARDINAL
Garfield County GPE
2,225 CARDINAL
3.1/sq mi [ MONEY

In [39]:
# Technical Jargon
example8 = "The Monte Carlo Simulation, Galois Fields, and Markov chains look complicated but not so complicated."
doc = m(example8)
for ent in doc.ents:
  print(ent.text, ent.label_)
print("When we use technical jargon!")

The Monte Carlo Simulation ORG
Galois Fields PERSON
Markov PERSON
When we use technical jargon!

In [43]:
example9 = "Some sexy degress include Phd, MD, and M.S."
doc = m(example9)
for ent in doc.ents:
  print(ent.text, ent.label_)

Phd GPE
MD ORG
M.S. GPE

In [44]:
example10 = "Ganga and Yamuna are rivers in India."
doc = m(example10)
for ent in doc.ents:
  print(ent.text, ent.label_)

Yamuna PERSON
India GPE

In [47]:
example11 = "Himalayas and is the mount ranges in India."
doc = m(example11)
for ent in doc.ents:
  print(ent.text, ent.label_)

Himalayas ORG
India GPE

In [52]:
#Querying
locs = [('Omnicom', 'IN', 'New York'),('DDB Needham', 'IN', 'New York'),('Kaplan Thaler Group', 'IN', 'New York'),('BBDO South', 'IN', 'Atlanta'), ('Georgia-Pacific', 'IN', 'Atlanta')]
query = [e1 for (e1, rel, e2) in locs if e2=='Atlanta']
query

['BBDO South', 'Georgia-Pacific']

In [57]:
example12 = "Hybrid assembly of multi-drug resistant, highly virulent methicillin resistant Staphylococcus aureus ST772-SCCmec V lineage: Maximising its potential for dissemination similar to USA300 clone"
doc = m(example12)
for ent in doc.ents:
  print(ent.text, ent.label_)
print("Unfortunately spacy NER is not able to identify any of the medical jargon. It incorrectly classifies one as a geopolitical entity.")

USA300 GPE
Unfortunately spacy NER is not able to identify any of the medical jargon. It incorrectly classifies one as a geopolitical entity.

In [ ]:
# Analysis: Spacy is quite useful for the vast majority Entity Recognition. But, we see that unless the model is trained on different genres of dataset
# we're unable to correctly predict the entity category in some cases and incorrectly classify in other cases.